body {
    text-align: center;
    background-color: #97BEC3;
    margin: 0;
	padding: 0;
	border: 0;
    font-size: auto;
	font: inherit;
	vertical-align: baseline;
}

.header {
    background-color: #314D5D;
}

.header h1 {
    margin: 0%;
    font-size: 50px;
}

#thelist {
    margin-top: 0%;
    list-style: none;
    margin-left: 20%;
    margin-right: 20%;
}

#thelist ::before {
    content: "\200B";
}

#thelist li {
    font-size: 30px;
    border-radius: 5px;
    border: 2px black solid;
    background-color: #CFA18F;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

#thelist li p { 
    position: absolute;
    top: 0;
    left: 4%;
    margin-top: 0%;
}

#submit {
    background-color: #CFA18F;
    border: none;
    outline: none;
    cursor: pointer;
}

#addtaskinput {
    padding-top: 10px;
}

#inputfield {
    width: 50%;
    border: none;
    outline: none;
    font-size: 30px;
    margin-top: 5px;
}

#thelist .checked {
    background-color: rgba(44, 102, 44, 0.74);
    
}

#thelist .checked p {
    text-decoration: line-through;
}

#thelist .close {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgba(255, 0, 0, 0.479);
}

#thelist .close:hover {
    background-color: rgba(241, 163, 163, 0.678);
}

#thelist #checkbox {
    
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
}
